* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #f2f2f2;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
  width: 100%;
  max-width: 1400px;
}

.card {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
}
